{% extends "global/base.html" %}

{% block texto %} {{ post.title }} {% endblock texto %}

{% block posts %}
    {% for post in posts %}
        {% include "global/partials/postblock.html"%}
    {% endfor %}
{% endblock posts %}



















# Desconsider this HTML under.
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is our first template on Django.</h1>
    <p>It's the <b>homepage of blog</b>.</p>
</body>
</html>